html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0px;
    padding: 0px;
}

textarea {
    resize: none;
    width: 100%;
    height: 100%;
    min-height: 100px;
}

div .wide {
    width: 100%;
}

div .logo {
    max-height: 8vh;
    max-width: 45%;
    margin-left: 10px;
    margin-right: 10px;
}

.buffer {
    margin-top: 10px;
}

.pad {
    padding-left: 3vw;
    padding-right: 3vw;
}

.form-horizontal {
    text-align: center;
    margin-left: 5%;
    width: 90%;
}

/*
 * This is to left-align elements within the Variable Filter
 * and works on the "multiselect" element.
 */
.ms-elem-selectable {
    text-align: left;
}

#main {
    width: 100%;
    height: 100%;
}

#sidebar {
    position: relative;
    max-height: 100%;
}

#map {
    height: 100vh;
}

#filter {
    padding-top: 10px;
    padding-left: 27px;
    padding-right: 27px;
    min-width: 300px;
    width: 27.5%;
    max-height: 600px;
    float: left;
}
